@import url("https://use.typekit.net/btq4wpu.css");
@import url("https://use.typekit.net/vqg3qwh.css");

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #FF5A00;
    overflow-x: hidden;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    position: relative;
    text-align: left;
    padding: 3.307vw 4.299vw;
    background-color: #000000;
    margin-top: -12.3vw;
}

h1 {
    flex-shrink: 0;
    color: #FF5A00;
    font-family: Roboto;
    font-size: 3vw;
    font-style: normal;
    font-weight: 52.91vw;
    line-height: normal;
    width: 34.061vw;
    height: auto;
    flex-shrink: 0;
}


h2 {
    color: #000000;
    font-family: Oranienbaum;
    font-size: 2.381vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

h3 {
    font-family: "permanent-marker", sans-serif;
    font-weight: 400;
    font-size: 3.175vw;
    font-style: normal;
}


.symbols {
    flex-shrink: 0;
    position: sticky;
    color: transparent;
    top: 0px;
    margin-right: 4.299vw;
    text-align: right;
    -webkit-text-stroke-width: 0.132vw;
    -webkit-text-stroke-color: #FF5A00;
    font-family: roboto;
    font-size: 9.259vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    z-index: 2;
}

.text-box-1 {
    display: flexbox;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 200vh;
    padding: 4.299vw 4.299vh;
    gap: 109px;
    flex-shrink: 0;
    background-color: #ffffff;
    position: relative;
}


#text-1 {
    display: flex;
    width: 91.468vw;
    padding-right: 46.296vw;
    justify-content: left;
    flex-shrink: 0;
    line-height: normal;
    margin-top: 0;
    margin-bottom:30vw;
}

.marker-1 {
    width: 91.468vw;
    display: flex;
    justify-content: right;
    padding-left: 46.296vw;
    color: #FF5A00;
    margin-right: 0;
}

#text-2 {
    display: flex;
    width: 91.468vw;
    height: 10.78vw;
    padding-right: 46.296vw;
    justify-content: flex-end;
    flex-shrink: 0;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 30vw;
    
}



.text-box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    padding: 4.299vw 4.299vw;
    gap: 9.921vw;
    flex-shrink: 0;
    background-color: #000000;
    position: relative;
}

#text-3 {
    display: flex;
    width: 91.468vw;
    height: 10.78vw;
    padding-right: 46.296vw;
    justify-content: left;
    flex-shrink: 0;
    line-height: normal;
    color: #ffffff;

}

.marker-2 {
    color: #FF5A00;
    display: flex;
    width: 91.468vw;
    height: 10.78vw;
    padding-right: 46.296vw;
    justify-content: left;
    flex-shrink: 0;
    line-height: normal;
    margin-top: 0;
}

#text-4 {
    display: flex;
    width: 91.468vw;
    height: 10.78vw;
    padding-left: 46.296vw;
    justify-content: flex-end;
    align-items: right;
    flex-shrink: 0;
    line-height: normal;
    margin-top: 50vh;
    padding-top: 0;
    color: #ffffff;
}


.text-box-3 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 4.299vw 4.299vh;
    gap: 9.921vw;
    flex-shrink: 0;
    background-color: #ffffff;
}

#text-5 {
    display: flex;
    justify-content: flex-start;
    width: 91.468vw;
    height: 10.78vw;
    padding-right: 46.296vw;
    justify-content: left;
    flex-shrink: 0;
    line-height: normal;
    margin-top: 0;
}

.marker-3 {
    color: #FF5A00;
    display: flex;
    width: 91.468vw;
    height: 10.78vw;
    padding-right: 46.296vw;
    justify-content: left;
    flex-shrink: 0;
    line-height: normal;
    margin-top: 0;
}
.text-box-4 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 4.299vw 4.299vh;
    flex-shrink: 0;
    background-color: #000000; 
    gap: 5vw;
    position: relative;
}

#text-6 {
    display: flex;
    width: 91.468vw;
    height: auto;
    justify-content: flex-start;
    padding-right: 46.296vw;
    align-items: left;
    flex-shrink: 0;
    line-height: normal;
    color: #FF5A00;
}

.button-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-left: 71vw;
    gap: 5vw;
    position: absolute;
    margin-top: auto;
    bottom: 4vw; /* Position it at the bottom */
    right: 4vw;
}

.button-container {
    display: flex;
    width: 21.164vw;
    height: 7.724vh;
    padding: 2.183vw;
    justify-content:center;
    align-items: center;  
    border-radius: 2.513vw;
    border: 0.066vw solid #FF5A00;
    margin-right: 4.299vw;
    cursor: pointer;
    z-index: 2;
    min-width: 10vw;
}

.button-text {
    color: #FF5A00;
    text-align: center;
    font-family: Roboto;
    font-size: 2.116vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
}

.button-container:hover {
    background-color: #FF5A00;
}

.button-container:hover .button-text {
    color: #000;
}